{{#block "title"}}Wereld kiezen{{/block}}

<h1>Wereld kiezen</h1>

<div class="container-compact">
	<form id="game-choose-world-form" method="POST" action="/game/choose-world">
		<div class="field">
			<label for="world" class="form-label">Wereld:</label>
			<select id="world" class="form-select" name="worldId">
				{{#each worlds}}
				<option value="{{this.id}}" {{#if (eq this.id ../selected_world_id)}}selected{{/if}}>
					{{this.name}}
				</option>
				{{/each}}
			</select>
		</div>
		
		<p id="error-chosen-world" class="error">{{error_chosen_world}}</p>
		
		<button class="button-1" type="submit">Volgende</button>
	</form>
</div>