{{#block "title"}}Het Systeem - Wereld kiezen{{/block}}

<h1>Wereld kiezen</h1>
<div class="mw-container">
	<form id="game-choose-world-form" method="POST" action="/game/choose-world">
		<div class="field">
			<label for="world" class="form-label">Wereld:</label>
			<select class="form-select" id="world" name="worldId">
				{{#each worlds}}
				<option value="{{this.id}}" {{#ifeq ../selectedWorldId this.id}}selected{{/ifeq}}>
					{{this.name}}
				</option>
				{{/each}}
			</select>
		</div>
		<p class="error" id="error-chosen-world">{{errorChosenWorld}}</p>
		<button type="submit" class="button-1">Volgende</button>
	</form>
</div>