{{#block "title"}}Wereld kiezen{{/block}}

<div class="container-compact">
	<h1>Wereld kiezen</h1>
	
	<form id="choose-world-form" method="POST" action="/game/choose-world">
		<div class="field">
			<label for="world" class="form-label">Wereld:</label>
			<select id="world" class="form-select" name="worldId">
				{{#each worlds}}
					<option value="{{this.id}}" {{#if (eq this.id ../selectedWorldId)}}selected{{/if}}>
						{{this.type}}
					</option>
				{{/each}}
			</select>
		</div>
		
		<p id="world-error" class="error">{{worldError}}</p>
		
		<button class="button-1" type="submit">Volgende →</button>
	</form>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
	//--- Elements ------------------------------------------------------------------------------//
	const worldSelect = document.getElementById('world');
	
	const worldError = document.getElementById('world-error');
	
	//--- Event listeners -----------------------------------------------------------------------//
	worldSelect.addEventListener('change', handleWorldChange);
	
	//--- Event handlers ------------------------------------------------------------------------//
	function handleWorldChange() {
		worldError.textContent = '';
	}
});
</script>