{{#block "title"}}Wereld betreden{{/block}}

<!------------------------------------------------------------------------------------------------>

<div class="container-compact">
	<h1>Wereld betreden</h1>
	
	<form id="form" method="POST" action="/game/enter-world">
		<div class="field">
			<label for="world-select" class="form-label">Kies een wereld.</label>
			<select id="world-select" class="form-select" name="worldId">
				{{#each worlds}}
					<option value="{{this.id}}" {{#if (eq this.id ../selectedWorldId)}}selected{{/if}}>
						{{this.type}}
					</option>
				{{/each}}
			</select>
		</div>
		
		<p id="error" class="error">{{errorMessage}}</p>
		
		<button class="button-1" type="submit">Betreden</button>
	</form>
</div>

<!------------------------------------------------------------------------------------------------>

<script type="module">
//-----------------------------------------------------------------------------------------------//
function clearError() {
	const error = document.getElementById('error');
	error.textContent = '';
}
//-----------------------------------------------------------------------------------------------//
document.addEventListener('DOMContentLoaded', () => {
	const world = document.getElementById('world-select');

	world.addEventListener('change', clearError);
});
//-----------------------------------------------------------------------------------------------//
</script>