{{#block "title"}}Het Systeem - Spelmenu{{/block}}

<h3>Spelmenu</h3>
<p>(onder constructie)</p>

<!--div class="box">
	<h1>Spelmenu</h1>
	<div class="d-grid">
		<a class="button-1" href="/game/new">Nieuw spel</a>
	</div>
	<div class="d-grid">
		<a class="button-1" href="/game/resume">Spel laden</a>
	</div>
</div-->