{{#block "title"}}Het Systeem - Menu{{/block}}

<h1>Menu</h1>
<div class="max-width-container">
	<a class="button-1" href="/game/character">Personage</a>
	<a class="button-1" href="/game/actions">Acties</a>
	<a class="button-1" href="/game/statistics">Statistieken</a>
	<a class="button-2" href="/game/choose-world">â† Andere wereld</a>
</div>