{{#block "title"}}Het Systeem - Spelmenu{{/block}}

<form class="box" method="POST" action="/game/enter">
	<h1>Spelmenu</h1>
	<div>
		<label for="game" class="form-label">Kies een wereld:</label>
		<select id="game" name="game">
			{{#each games}}
				<option value="{{this.id}}">{{this.name}}</option>
			{{/each}}
		</select>
	</div>
	{{#if errorGame}}
		<p class="error">{{errorGame}}</p>
	{{/if}}
	<div class="d-grid">
		<button type="submit" class="button-1">Betreden</button>
	</div>
</form>

<!--
Zo zuiver als goud
Belofte maakt schuld
De tijd brengt raad
-->