{{#block "title"}}Het Systeem - Spelmenu{{/block}}

<form class="box" id="game-menu-form" method="POST" action="/game/enter">
	<h1>Spelmenu</h1>
	<div>
		<label for="game" class="form-label">Wereld:</label>
		<select class="form-select" id="game" name="gameId">
			{{#each games}}
			<option value="{{this.id}}">{{this.name}}</option>
			{{/each}}
		</select>
	</div>
	<p class="error" id="error-game">{{errorGame}}</p>
	<div class="d-grid">
		<button type="submit" class="button-1">Betreden</button>
	</div>
</form>