{{#block "title"}}Het Systeem - Wereld{{/block}}

<h1>{{worldName}}</h1>
<div class="max-width-container">
	<a class="button-1" href="/game/world/character">Personage</a>
	<a class="button-1" href="/game/world/actions">Acties</a>
	<a class="button-1" href="/game/world/statistics">Statistieken</a>
	<a class="button-2" href="/game/choose-world">â† Andere wereld</a>
</div>








<!--h1>{{fullName}}</h1>
<p>personage (gezondheid, leeftijd, ervaring, ...), bezittingen (ook gebouwen), werken, handel drijven, werven, solliciteren</p-->