@import "../../node_modules/bootstrap/scss/bootstrap";

body {
	@extend .m-0;
	@extend .bg-light;
}

h1 {
	font-size: 1.3rem;
	@extend .text-primary;
	@extend .mb-3;
}

h2 {
	font-size: 1.15rem;
	@extend .text-secondary;
}

h3 {
	font-size: 1rem;
	@extend .text-body;
}

.page-wrapper {
	@extend .d-flex;
	@extend .flex-column;
	@extend .w-100;
	@extend .m-0;
	@extend .mx-auto;
	max-width: 960px;
	min-height: 100vh;
	@extend .bg-white;
}

.active-world-banner {
	@extend .text-center;
	@extend .py-2;
	@extend .fw-semibold;
	@extend .small;
	border-bottom: 1px solid;
}

.gold-world {
	background-color: #fff8dc;
	color: #a67c00;
	border-color: #e0c97f;
}

.debt-world {
	background-color: lighten($primary, 40%);
	color: $primary;
	border-color: lighten($primary, 20%);
}

.time-world {
	background-color: #e6f9f1;
	color: #1f8f5f;
	border-color: #bce3d1;
}

.content-wrapper {
	@extend .flex-grow-1;
	@extend .p-4;
}

.navbar-account-icon {
	color: white;
	font-size: 2.4rem;
	line-height: 1;
}

.container-compact {
	@extend .w-100;
	max-width: 400px;
}

.field {
	@extend .mb-3;
}

.list-compact {
	@extend .list-group;
	@extend .mb-3;
	@extend .border;
	@extend .border-2;
	max-width: 400px;
}

.list-item-justify {
	@extend .list-group-item;
	@extend .d-flex;
	@extend .justify-content-between;
	@extend .align-items-center;
}

.list-input-quantity {
	@extend .form-control;
	text-align: right;
	width: 6.3rem;
}

.list-input-price {
	@extend .form-control;
	text-align: right;
	width: 14.2ch;
}

.list-select {
	@extend .form-select;
	@extend .w-auto;
}

.list-fake-select {
	@extend .d-block;
	padding: 0rem calc(2.25rem + 1px);
	@extend .w-auto;
}

.card-border {
	@extend .d-flex;
	@extend .flex-column;
	@extend .gap-1;
	@extend .border;
	@extend .rounded;
	@extend .mb-3;
	@extend .p-3;
	@extend .shadow-sm;
}

.card-p {
	@extend .m-0;
	@extend .p-0;
}

.card-field {
	@extend .m-0;
	@extend .p-0;
	@extend .d-flex;
	@extend .align-items-center;
	@extend .flex-wrap;
	@extend .gap-1;
}

.card-label {
	@extend .mb-0;
}

.card-select {
	@extend .form-select;
	@extend .form-select-sm;
	@extend .w-auto;
}

.card-button {
	@extend .btn;
	@extend .btn-primary;
	@extend .mt-2;
	@extend .align-self-start;
}

@mixin message {
	@extend .alert;
	@extend .mt-0;
	@extend .mb-3;
	@extend .p-2;
	@extend .w-auto;
}

.warning {
	@include message;
	@extend .alert-warning;
	display: none;
	&:not(:empty) {
		display: inline-block;
	}
}

.error {
	@include message;
	@extend .alert-danger;
	display: none;
	&:not(:empty) {
		display: inline-block;
	}
}

.success {
	@include message;
	@extend .alert-success;
	display: inline-block;
}

.demolished {
	@extend .text-decoration-line-through;
	@extend .text-danger;
}

.button-1 {
	@extend .btn;
	@extend .btn-primary;
	@extend .w-100;
	@extend .mb-3;
}

.button-2 {
	@extend .btn;
	@extend .btn-secondary;
	@extend .w-100;
	@extend .mb-3;
}

.button-back {
	@extend .btn;
	@extend .btn-outline-primary;
	@extend .w-100;
	@extend .mb-3;
}

.change {
	@extend .d-block;
	@extend .mt-0;
	@extend .mb-0;
	@extend .pe-2;
	text-align: right;
}