@import "../../node_modules/bootstrap/scss/bootstrap";

.navbar-account-icon {
	color: white;
	font-size: 2.4rem;
	line-height: 1;
}

.body-container {
	@extend .container-fluid;
	@extend .p-3;
}

h1 {
	font-size: 1.3rem;
}

h2 {
	font-size: 1.15rem;
}

h3 {
	font-size: 1rem;
}

.box {
	@extend .w-100;
	@extend .mx-auto;
	@extend .d-grid;
	@extend .gap-3;
	@extend .p-4;
	@extend .rounded;
	@extend .shadow;
	@extend .bg-white;
	//min-width: 320px;
	max-width: 480px;
}

@mixin message {
	@extend .alert;
	@extend .mt-0;
	@extend .mb-0;
	@extend .p-2;
}

.warning {
	@include message;
	@extend .alert-warning;
	display: none;
	&:not(:empty) {
		display: block;
	}
}

.error {
	@include message;
	@extend .alert-danger;
	display: none;
	&:not(:empty) {
		display: block;
	}
}

.success {
	@include message;
	@extend .alert-success;
	display: none;
	&:not(:empty) {
		display: block;
	}
}

.button-1 {
	@extend .btn;
	@extend .btn-primary;
}

.button-2 {
	@extend .btn;
	@extend .btn-secondary;
}

.no-distance {
	@extend .mt-0;
	@extend .mb-0;
}

.change {
	@extend .mt-0;
	@extend .mb-0;
	@extend .pe-2;
	text-align: right;
}