# Ignore node_modules and logs
node_modules/
npm-debug.log
yarn-error.log

# Ignore ideas
Formules.xlsx

# Ignore environment variables and secrets
.env

test.txt

# Ignore OS-specific and editor files
.DS_Store
Thumbs.db
*.swp