{{#block "title"}}Het Systeem - Wachtwoord wijzigen{{/block}}

<h1>Wachtwoord wijzigen</h1>
<div class="max-width-container">
	<form id="account-change-password-form" method="POST" action="/account/changepassword">
		<div class="field">
			<label for="current-password" class="form-label">Huidige wachtwoord:</label>
			<input type="password" class="form-control" id="current-password" name="currentPassword" required>
		</div>
		<p class="error" id="error-password">{{errorPassword}}</p>
		<div class="field">
			<label for="new-password" class="form-label">Nieuw wachtwoord:</label>
			<input type="password" class="form-control" id="new-password" name="newPassword" required>
		</div>
		<div class="field">
			<label for="password-confirm" class="form-label">Bevestig nieuw wachtwoord:</label>
			<input type="password" class="form-control" id="password-confirm" name="passwordConfirm" required>
		</div>
		<p class="error" id="error-confirm">{{errorConfirm}}</p>
		<button type="submit" class="button-1">Bewaren</button>
		<p class="success" id="success-change">{{successChange}}</p>
	</form>
	<a class="button-2" href="/account/menu">Mijn account</a>
</div>

<script>
document.getElementById("account-change-password-form").addEventListener("submit", function (e) {
	const newPassword = document.getElementById("new-password");
	const passwordConfirm = document.getElementById("password-confirm");
	if (newPassword.value !== passwordConfirm.value) {
		document.getElementById("error-confirm").textContent = "De wachtwoorden komen niet overeen.";
		e.preventDefault();
	} else {
		document.getElementById("error-confirm").textContent = "";
	}
});
</script>