{{#block "title"}}Wachtwoord wijzigen{{/block}}

<div class="container-compact">
	<h1>Wachtwoord wijzigen</h1>

	{{#if change_saved}}
		<p id="change-saved" class="success">{{change_message}}</p>
	{{else}}
		<form id="change-password-form" method="POST" action="/account/change-password">
			<div class="field">
				<label for="current-password" class="form-label">Huidige wachtwoord:</label>
				<input id="current-password" class="form-control" type="password" name="currentPassword" required>
			</div>
			
			<p id="password-error" class="error">{{password_error}}</p>
			
			<div class="field">
				<label for="new-password" class="form-label">Nieuw wachtwoord:</label>
				<input id="new-password" class="form-control" type="password" name="newPassword" required>
			</div>
			
			<div class="field">
				<label for="password-confirmation" class="form-label">Bevestig nieuw wachtwoord:</label>
				<input id="password-confirmation" class="form-control" type="password" name="passwordConfirmation" required>
			</div>
			
			<p id="confirmation-error" class="error"></p>
			
			<button class="button-1" type="submit">Bewaren</button>
		</form>
	{{/if}}
	
	<a class="button-back" href="/account">← Mijn account</a>
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
	//--- Elements ------------------------------------------------------------------------------//
	const currentPasswordInput = document.getElementById("current-password");
	const newPasswordInput = document.getElementById("new-password");
	const passwordConfirmationInput = document.getElementById("password-confirm");
	
	const passwordError = document.getElementById("password-error");
	const confirmationError = document.getElementById("confirmation-error");
	
	const form = document.getElementById("change-password-form");
	
	//--- Event listeners -----------------------------------------------------------------------//
	newPasswordInput.addEventListener("input", changeNewPassword);
	passwordConfirmationInput.addEventListener("input", changePasswordConfirmation);
	form.addEventListener("submit", submitForm);
	
	//--- Event handlers ------------------------------------------------------------------------//
	function changePassword() {
		passwordError.textContent = "";
	}
	
	function changeNewPassword() {
		confirmationError.textContent = "";
	}
	
	function changePasswordConfirmation() {
		confirmationError.textContent = "";
	}
	
	function submitForm(e) {
		if (passwordInput.value !== passwordConfirmationInput.value) {
			confirmationError.textContent = "De wachtwoorden komen niet overeen.";
			e.preventDefault();
		}
	}
});
</script>