{{#block "title"}}Het Systeem - Wachtwoord wijzigen{{/block}}

<form class="box" method="POST" action="/account/changepassword">
	<h1>Wachtwoord wijzigen</h1>
	<div>
		<label for="currentPassword" class="form-label">Huidige wachtwoord:</label>
		<input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
	</div>
	{{#if errorPassword}}
	<p class="error">{{errorPassword}}</p>
	{{/if}}
	<div>
		<label for="newPassword" class="form-label">Nieuw wachtwoord:</label>
		<input type="password" class="form-control" id="newPassword" name="newPassword" required>
	</div>
	<div>
		<label for="passwordConfirm" class="form-label">Bevestig nieuw wachtwoord:</label>
		<input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" required>
	</div>
	{{#if errorConfirm}}
	<p class="error">{{errorConfirm}}</p>
	{{/if}}
	<div class="d-grid">
		<button type="submit" class="button-1">Bewaren</button>
	</div>
	{{#if changeSuccessful}}
	<p class="success">{{changeSuccessful}}</p>
	{{/if}}
	<div class="d-grid">
		<a class="button-2" href="/account/menu">Mijn account</a>
	</div>
</form>