{{#block "title"}}Wachtwoord wijzigen{{/block}}

<h1>Wachtwoord wijzigen</h1>
<div class="container-compact">
	<form id="account-change-password-form" method="POST" action="/account/change-password">
		<div class="field">
			<label for="current-password" class="form-label">Huidige wachtwoord:</label>
			<input id="current-password" class="form-control type="password"" name="currentPassword" required>
		</div>
		<p id="error-password" class="error">{{error_password}}</p>
		<div class="field">
			<label for="new-password" class="form-label">Nieuw wachtwoord:</label>
			<input id="new-password" class="form-control" type="password" name="newPassword" required>
		</div>
		<div class="field">
			<label for="password-confirm" class="form-label">Bevestig nieuw wachtwoord:</label>
			<input id="password-confirm" class="form-control" type="password" name="passwordConfirm" required>
		</div>
		<p id="error-confirm" class="error">{{error_confirm}}</p>
		<button class="button-1" type="submit">Bewaren</button>
		<p id="success-change" class="success">{{success_change}}</p>
	</form>
	<a class="button-2" href="/account">← Mijn account</a>
</div>

<script>
document.getElementById("account-change-password-form").addEventListener("submit", function (e) {
	const newPassword = document.getElementById("new-password");
	const passwordConfirm = document.getElementById("password-confirm");
	if (newPassword.value !== passwordConfirm.value) {
		document.getElementById("error-confirm").textContent = "De wachtwoorden komen niet overeen.";
		e.preventDefault();
	} else {
		document.getElementById("error-confirm").textContent = "";
	}
});
</script>