{{#block "title"}}Wachtwoord wijzigen{{/block}}

<!------------------------------------------------------------------------------------------------>

<div class="container-compact">
	<h1>Wachtwoord wijzigen</h1>

	{{#if successMessage}}
		<p id="success" class="success">{{successMessage}}</p>
	{{else}}
		<form id="form" method="POST" action="/account/change-password">
			<div class="field">
				<label for="password-input" class="form-label">Huidige wachtwoord:</label>
				<input id="password-input" class="form-control" type="password" name="password" required>
			</div>
			
			<div class="field">
				<label for="new-password-input" class="form-label">Nieuw wachtwoord:</label>
				<input id="new-password-input" class="form-control" type="password" name="newPassword" required>
			</div>
			
			<div class="field">
				<label for="confirmed-new-password-input" class="form-label">Bevestig nieuw wachtwoord:</label>
				<input id="confirmed-new-password-input" class="form-control" type="password" name="confirmedNewPassword" required>
			</div>
			
			<p id="error" class="error">{{errorMessage}}</p>
			
			<button class="button-1" type="submit">Bewaren</button>
		</form>
	{{/if}}
	
	<a class="button-up" href="/account">↑ Annuleren</a>
</div>

<!------------------------------------------------------------------------------------------------>

<script type="module">
//-----------------------------------------------------------------------------------------------//
import { validatePassword } from '/js/password.validation.js';
import { validatePasswordConfirmation } from '/js/password-confirmation.validation.js';
//-----------------------------------------------------------------------------------------------//
function clearError() {
	const error = document.getElementById('error');
	error.textContent = '';
}
//-----------------------------------------------------------------------------------------------//
function handleNewPasswordInput() {
	clearError();
	
	const password = document.getElementById('password-input');
	const newPassword = document.getElementById('new-password-input');
	if (newPassword.value === password.value) {
		newPassword.setCustomValidity('Het nieuwe wachtwoord moet anders zijn.');
	} else {
		validatePassword(newPassword);
	}
}
//-----------------------------------------------------------------------------------------------//
function handleConfirmedNewPasswordInput() {
	clearError();
	
	const newPassword = document.getElementById('new-password-input');
	const confirmedNewPassword = document.getElementById('confirmed-new-password-input');
	validatePasswordConfirmation(newPassword, confirmedNewPassword);
}
//-----------------------------------------------------------------------------------------------//
function handleFormSubmit(e) {
	const form = document.getElementById('form');
	if (!form.checkValidity()) {
		e.preventDefault();
		form.reportValidity();
	}
}
//-----------------------------------------------------------------------------------------------//
document.addEventListener('DOMContentLoaded', () => {
	const password = document.getElementById('password-input');
	const newPassword = document.getElementById('new-password-input');
	const confirmedNewPassword = document.getElementById('confirmed-new-password-input');
	const form = document.getElementById('change-password-form');
	
	password.addEventListener('input', clearError);
	newPassword.addEventListener('input', handleNewPasswordInput);
	confirmedNewPassword.addEventListener('input', handleConfirmedNewPasswordInput);
	form.addEventListener('submit', handleFormSubmit);
});
//-----------------------------------------------------------------------------------------------//
</script>