{{#block "title"}}Wachtwoord wijzigen{{/block}}

<!------------------------------------------------------------------------------------------------>

<div class="container-compact">
	<h1>Wachtwoord wijzigen</h1>

	<form id="change-password-form" method="POST" action="/account/change-password">
		<div class="field">
			<label for="password-input" class="form-label">Huidige wachtwoord:</label>
			<input id="password-input" class="form-control" type="password" name="password" required>
		</div>
		
		<div class="field">
			<label for="new-password-input" class="form-label">Nieuw wachtwoord:</label>
			<input id="new-password-input" class="form-control" type="password" name="newPassword" required>
		</div>
		
		<div class="field">
			<label for="confirmed-new-password-input" class="form-label">Bevestig nieuw wachtwoord:</label>
			<input id="confirmed-new-password-input" class="form-control" type="password" name="confirmedNewPassword" required>
		</div>
			
		<p id="change-password-error" class="error">{{changePasswordError}}</p>
		
		<button class="button-1" type="submit">Bewaren</button>
	</form>
	
	<hr>
	
	<a class="button-up" href="/account">↑ Annuleren</a>
</div>

<!------------------------------------------------------------------------------------------------>

<script type="module">
//-----------------------------------------------------------------------------------------------//
import { validatePassword } from '/js/password.validation.js';
import { validatePasswordConfirmation } from '/js/password-confirmation.validation.js';
//-----------------------------------------------------------------------------------------------//
function clearError() {
	const changePasswordErrorElement = document.getElementById('change-password-error');
	changePasswordErrorElement.textContent = '';
}
//-----------------------------------------------------------------------------------------------//
function handleNewPasswordInput() {
	clearError();
	
	const passwordInput = document.getElementById('password-input');
	const newPasswordInput = document.getElementById('new-password-input');
	if (newPasswordInput.value === passwordInput.value) {
		newPasswordInput.setCustomValidity('Het nieuwe wachtwoord moet anders zijn.');
	} else {
		validatePassword(newPasswordInput);
	}
}
//-----------------------------------------------------------------------------------------------//
function handleConfirmedNewPasswordInput() {
	clearError();
	
	const newPasswordInput = document.getElementById('new-password-input');
	const confirmedNewPasswordInput = document.getElementById('confirmed-new-password-input');
	validatePasswordConfirmation(newPasswordInput, confirmedNewPasswordInput);
}
//-----------------------------------------------------------------------------------------------//
function handleChangePasswordFormSubmit(e) {
	const changePasswordForm = document.getElementById('change-password-form');
	if (!changePasswordForm.checkValidity()) {
		e.preventDefault();
		changePasswordForm.reportValidity();
	}
}
//-----------------------------------------------------------------------------------------------//
document.addEventListener('DOMContentLoaded', () => {
	const passwordInput = document.getElementById('password-input');
	const newPasswordInput = document.getElementById('new-password-input');
	const confirmedNewPasswordInput = document.getElementById('confirmed-new-password-input');
	const changePasswordForm = document.getElementById('change-password-form');
	
	passwordInput.addEventListener('input', clearError);
	newPasswordInput.addEventListener('input', handleNewPasswordInput);
	confirmedNewPasswordInput.addEventListener('input', handleConfirmedNewPasswordInput);
	changePasswordForm.addEventListener('submit', handleChangePasswordFormSubmit);
});
//-----------------------------------------------------------------------------------------------//
</script>