{{#block "title"}}Aanmelden{{/block}}

<!------------------------------------------------------------------------------------------------>

<div class="container-compact">
	<h1>Aanmelden</h1>
	
	<form id="login-form" method="POST" action="/account/login">
		<div class="field">
			<label for="username-input" class="form-label">Gebruikersnaam:</label>
			<input id="username-input" class="form-control" type="text" name="username" value="{{username}}" required>
		</div>
		
		<div class="field">
			<label for="password-input" class="form-label">Wachtwoord:</label>
			<input id="password-input" class="form-control" type="password" name="password" required>
		</div>
		
		<p id="login-error" class="error">{{loginError}}</p>
		
		<button class="button-1" type="submit">Aanmelden</button>
	</form>
	
	<p>Nog geen lid? <a href="/account/register">Inschrijven</a>.</p>
</div>

<!------------------------------------------------------------------------------------------------>

<script type="module">
//-----------------------------------------------------------------------------------------------//
function clearError() {
	const loginErrorElement = document.getElementById('login-error');
	loginErrorElement.textContent = '';
}
//-----------------------------------------------------------------------------------------------//
document.addEventListener('DOMContentLoaded', () => {
	const usernameInput = document.getElementById('username-input');
	const passwordInput = document.getElementById('password-input');
	
	usernameInput.addEventListener('input', clearError);
	passwordInput.addEventListener('input', clearError);
});
//-----------------------------------------------------------------------------------------------//
</script>