{{#block "title"}}Aanmelden{{/block}}

<!------------------------------------------------------------------------------------------------>

<div class="container-compact">
	<h1>Aanmelden</h1>
	
	<form id="form" method="POST" action="/account/login">
		<div class="field">
			<label for="username-input" class="form-label">Gebruikersnaam:</label>
			<input id="username-input" class="form-control" type="text" name="username" value="{{username}}" required>
		</div>
		
		<div class="field">
			<label for="password-input" class="form-label">Wachtwoord:</label>
			<input id="password-input" class="form-control" type="password" name="password" required>
		</div>
		
		<p id="error" class="error">{{errorMessage}}</p>
		
		<button class="button-1" type="submit">Aanmelden</button>
	</form>
	
	<p>Nog geen lid? <a href="/account/register">Registreren</a>.</p>
</div>

<!------------------------------------------------------------------------------------------------>

<script type="module">
//-----------------------------------------------------------------------------------------------//
function clearError() {
	const error = document.getElementById('error');
	error.textContent = '';
}
//-----------------------------------------------------------------------------------------------//
document.addEventListener('DOMContentLoaded', () => {
	const username = document.getElementById('username-input');
	const password = document.getElementById('password-input');
	
	username.addEventListener('input', clearError);
	password.addEventListener('input', clearError);
});
//-----------------------------------------------------------------------------------------------//
</script>