{{#block "title"}}Aanmelden{{/block}}

<div class="container-compact">
	<h1>Aanmelden</h1>
	
	<form id="account-login-form" method="POST" action="/account/login">
		<div class="field">
			<label for="username" class="form-label">Gebruikersnaam:</label>
			<input id="username" class="form-control" type="text" name="username" value="{{username}}" required>
		</div>
		
		<div class="field">
			<label for="password" class="form-label">Wachtwoord:</label>
			<input id="password" class="form-control" type="password" name="password" required>
		</div>
		
		<p id="error-login" class="error">{{error_login}}</p>
		
		<button class="button-1" type="submit">Aanmelden</button>
	</form>
	
	<p>Nog geen lid? <a href="/account/register">Registreren</a>.</p>
</div>