{{#block "title"}}Registreren{{/block}}

<div class="container-compact">
	<h1>Registreren</h1>
	
	<form id="register-form" method="POST" action="/account/register">
		<div class="field">
			<label for="username" class="form-label">Gebruikersnaam:</label>
			<input id="username" class="form-control" type="text" name="username" value="{{username}}" required>
		</div>
		
		<p id="username-error" class="error">{{usernameError}}</p>
		
		<div class="field">
			<label for="password" class="form-label">Wachtwoord:</label>
			<input id="password" class="form-control" type="password" name="password" required>
		</div>
		
		<div class="field">
			<label for="password-confirmation" class="form-label">Bevestig wachtwoord:</label>
			<input id="password-confirmation" class="form-control" type="password" name="passwordConfirmation" required>
		</div>
		
		<p id="confirmation-error" class="error"></p>
		
		<button class="button-1" type="submit">Registreren</button>
	</form>
	
	<p>Reeds lid? <a href="/account/login">Aanmelden</a>.</p>
</div>

<script>
//--- Event handlers ----------------------------------------------------------------------------//
function handleUsernameInput() {
	usernameError.textContent = '';
}

function handlePasswordInput() {
	confirmationError.textContent = '';
}

function handlePasswordConfirmationInput() {
	confirmationError.textContent = '';
}

function handleFormSubmit(e) {
	// Check if the password is confirmed correctly
	if (passwordInput.value === passwordConfirmationInput.value) {
		confirmationError.textContent = '';
	} else {
		confirmationError.textContent = 'De wachtwoorden komen niet overeen.';
		e.preventDefault();
	}
}

//--- DOM content loaded ------------------------------------------------------------------------//
document.addEventListener('DOMContentLoaded', () => {
	const usernameInput = document.getElementById('username');
	const passwordInput = document.getElementById('password');
	const passwordConfirmationInput = document.getElementById('password-confirmation');
	
	const form = document.getElementById('register-form');
	
	const usernameError = document.getElementById('username-error');
	const confirmationError = document.getElementById('confirmation-error');
	
	usernameInput.addEventListener('input', handleUsernameInput);
	passwordInput.addEventListener('input', handlePasswordInput);
	passwordConfirmationInput.addEventListener('input', handlePasswordConfirmationInput);
	
	form.addEventListener('submit', handleFormSubmit);
});
</script>