{{#block "title"}}Registreren{{/block}}

<!------------------------------------------------------------------------------------------------>

<div class="container-compact">
	<h1>Registreren</h1>
	
	<form id="form" method="POST" action="/account/register">
		<div class="field">
			<label for="username-input" class="form-label">Gebruikersnaam:</label>
			<input id="username-input" class="form-control" type="text" name="username" value="{{username}}" required>
		</div>
		
		<div class="field">
			<label for="password-input" class="form-label">Wachtwoord:</label>
			<input id="password-input" class="form-control" type="password" name="password" required>
		</div>
		
		<div class="field">
			<label for="confirmed-password-input" class="form-label">Bevestig wachtwoord:</label>
			<input id="confirmed-password-input" class="form-control" type="password" name="confirmedPassword" required>
		</div>
		
		<p id="error" class="error">{{errorMessage}}</p>
		
		<button class="button-1" type="submit">Registreren</button>
	</form>
	
	<p>Reeds lid? <a href="/account/login">Aanmelden</a>.</p>
</div>

<!------------------------------------------------------------------------------------------------>

<script type="module">
//-----------------------------------------------------------------------------------------------//
import { validateUsername } from '/js/username.validation.js';
import { validatePassword } from '/js/password.validation.js';
import { validatePasswordConfirmation } from '/js/password-confirmation.validation.js';
//-----------------------------------------------------------------------------------------------//
function clearError() {
	const error = document.getElementById('error');
	error.textContent = '';
}
//-----------------------------------------------------------------------------------------------//
function handleUsernameInput() {
	clearError();
	
	const username = document.getElementById('username-input');
	validateUsername(username);
}
//-----------------------------------------------------------------------------------------------//
function handlePasswordInput() {
	clearError();
	
	const password = document.getElementById('password-input');
	validatePassword(password);
}
//-----------------------------------------------------------------------------------------------//
function handleConfirmedPasswordInput() {
	clearError();
	
	const password = document.getElementById('password-input');
	const confirmedPassword = document.getElementById('confirmed-password-input');
	validatePasswordConfirmation(password, confirmedPassword);
}
//-----------------------------------------------------------------------------------------------//
function handleFormSubmit(e) {
	const form = document.getElementById('form');
	if (!form.checkValidity()) {
		e.preventDefault();
		form.reportValidity();
	}
}
//-----------------------------------------------------------------------------------------------//
document.addEventListener('DOMContentLoaded', () => {
	const username = document.getElementById('username-input');
	const password = document.getElementById('password-input');
	const confirmedPassword = document.getElementById('confirmed-password-input');
	const form = document.getElementById('form');
	
	username.addEventListener('input', handleUsernameInput);
	password.addEventListener('input', handlePasswordInput);
	confirmedPassword.addEventListener('input', handleConfirmedPasswordInput);
	form.addEventListener('submit', handleFormSubmit);
});
//-----------------------------------------------------------------------------------------------//
</script>