{{#block "title"}}Registreren{{/block}}

<div class="container-compact">
	<h1>Registreren</h1>
	
	<form id="register-form" method="POST" action="/account/register">
		<div class="field">
			<label for="username" class="form-label">Gebruikersnaam:</label>
			<input id="username" class="form-control" type="text" name="username" value="{{username}}" required>
		</div>
		
		<p id="username-error" class="error">{{username_error}}</p>
		
		<div class="field">
			<label for="password" class="form-label">Wachtwoord:</label>
			<input id="password" class="form-control" type="password" name="password" required>
		</div>
		
		<div class="field">
			<label for="password-confirmation" class="form-label">Bevestig wachtwoord:</label>
			<input id="password-confirmation" class="form-control" type="password" name="passwordConfirmation" required>
		</div>
		
		<p id="confirmation-error" class="error"></p>
		
		<button class="button-1" type="submit">Registreren</button>
	</form>
	
	<p>Reeds lid? <a href="/account/login">Aanmelden</a>.</p>
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
	//--- Elements ------------------------------------------------------------------------------//
	const usernameInput = document.getElementById("username");
	const passwordInput = document.getElementById("password");
	const passwordConfirmationInput = document.getElementById("password-confirmation");
	
	const usernameError = document.getElementById("username-error");
	const confirmationError = document.getElementById("confirmation-error");
	
	const form = document.getElementById("register-form");
	
	//--- Event listeners -----------------------------------------------------------------------//
	usernameInput.addEventListener("input", changeUsername);
	passwordInput.addEventListener("input", changePassword);
	passwordConfirmationInput.addEventListener("input", changePasswordConfirmation);
	form.addEventListener("submit", submitForm);
	
	//--- Event handlers ------------------------------------------------------------------------//
	function changeUsername() {
		usernameError.textContent = "";
	}
	
	function changePassword() {
		confirmationError.textContent = "";
	}
	
	function changePasswordConfirmation() {
		confirmationError.textContent = "";
	}
	
	function submitForm(e) {
		if (passwordInput.value !== passwordConfirmationInput.value) {
			confirmationError.textContent = "De wachtwoorden komen niet overeen.";
			e.preventDefault();
		}
	}
});
</script>