{{#block "title"}}Registreren{{/block}}

<div class="container-compact">
	<h1>Registreren</h1>
	
	<form id="register-form" method="POST" action="/account/register">
		<div class="field">
			<label for="username-input" class="form-label">Gebruikersnaam:</label>
			<input id="username-input" class="form-control" type="text" name="username" value="{{username}}" required>
		</div>
		
		<p id="username-error" class="error">{{usernameError}}</p>
		
		<div class="field">
			<label for="password-input" class="form-label">Wachtwoord:</label>
			<input id="password-input" class="form-control" type="password" name="password" required>
		</div>
		
		<div class="field">
			<label for="confirmed-password-input" class="form-label">Bevestig wachtwoord:</label>
			<input id="confirmed-password-input" class="form-control" type="password" name="confirmedPassword" required>
		</div>
		
		<button class="button-1" type="submit">Registreren</button>
	</form>
	
	<p>Reeds lid? <a href="/account/login">Aanmelden</a>.</p>
</div>

<script type="module">
//--- Event handlers ----------------------------------------------------------------------------//
function clearUsernameError() {
	const usernameError = document.getElementById('username-error');
	usernameError.textContent = '';
}

function clearConfirmationError() {
	const confirmedPassword = document.getElementById('confirmed-password-input');
	confirmedPassword.setCustomValidity('');
}

function handleFormSubmit(e) {
	const password = document.getElementById('password-input');
	const confirmedPassword = document.getElementById('confirmed-password-input');
	const form = document.getElementById('register-form');
	
	if (confirmedPassword.value && 
		password.value !== confirmedPassword.value) {
		confirmedPassword.setCustomValidity('De wachtwoorden komen niet overeen.');
	} else {
		confirmedPassword.setCustomValidity('');
	}
	
	if (!form.checkValidity()) {
		e.preventDefault();
		form.reportValidity();
	}
}

//--- DOM content loaded ------------------------------------------------------------------------//
document.addEventListener('DOMContentLoaded', () => {
	const username = document.getElementById('username-input');
	const confirmedPassword = document.getElementById('confirmed-password-input');
	const form = document.getElementById('register-form');
	
	username.addEventListener('input', clearUsernameError);
	confirmedPassword.addEventListener('input', clearConfirmationError);
	form.addEventListener('submit', handleFormSubmit);
});
</script>