<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inloggen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="m-0 p-0">
<div class="container-fluid align-content-center bg-secondary vh-100">
	<div class="container-sm mx-auto text-center p-4 rounded-4 shadow-sm bg-white">
		<h1 class="mb-4">Inloggen</h1>
		<form method="POST" action="/auth/login">
			<div class="d-grid mx-auto gap-3 w-100">
				<div class="text-start">
					<label for="name" class="form-label">Gebruikersnaam</label>
					<input type="text" class="form-control" id="name" name="name" required>
				</div>
				<div class="text-start">
					<label for="password" class="form-label">Wachtwoord</label>
					<input type="password" class="form-control" id="password" name="password" required>
				</div>
				<button type="submit" class="btn btn-primary">Log in</button>
				{{#if message}}
				<div class="alert alert-danger m-0 p-1">
					{{message}}
				</div>
				{{/if}}
			</div>
		</form>
	</div>
</div>
</body>
</html>
