{{#block "title"}}Het Systeem - Inventaris{{/block}}

<h1>Inventaris</h1>
{{#if items.length}}
<ul>
{{#each items}}
	<li>{{name}}: {{quantity}}</li>
{{/each}}
</ul>
{{else}}
<p>Je hebt geen items.</p>
{{/if}}
<div class="mw-container">
	<a href="/game/play" class="button-2">Terug</a>
</div>