{{#block "title"}}Het Systeem{{/block}}

<h1>Spelidee</h1>
<p>Iedere speler speelt een personage in een virtuele wereld. Dagelijks kan je werkuren spenderen om goederen of diensten te produceren. Je kan ook orders plaatsen om goederen of diensten te verhandelen met de andere spelers. De vereenvoudigde economie zal er ongeveer zo uitzien:</p>
<table>
	<thead>
		<tr>
			<th>Job</th>
			<th>Input item</th>
			<th>Booster item</th>
			<th>Output item</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Landbouwer</td>
			<td>—</td>
			<td>Machines</td>
			<td>Voedsel</td>
		</tr>
		<tr>
			<td>Dokter</td>
			<td>—</td>
			<td>Gereedschap</td>
			<td>Medische zorg</td>
		</tr>
		<tr>
			<td>Leraar</td>
			<td>—</td>
			<td>Informatie</td>
			<td>Onderwijs</td>
		</tr>
		<tr>
			<td>Kwaliteitsingenieur</td>
			<td>—</td>
			<td>Informatie</td>
			<td>Procedures</td>
		</tr>
		<tr>
			<td>Windmolenoperator</td>
			<td>—</td>
			<td>Informatie</td>
			<td>Energie</td>
		</tr>
		<tr>
			<td>Onderzoeker</td>
			<td>—</td>
			<td>Gereedschap</td>
			<td>Informatie</td>
		</tr>
		<tr>
			<td>Muzikant</td>
			<td>—</td>
			<td>Muziekinstrumenten</td>
			<td>Concert</td>
		</tr>
		<tr>
			<td>Spelontwikkelaar</td>
			<td>—</td>
			<td>Elektronica</td>
			<td>Videospel</td>
		</tr>
		<tr>
			<td>Modeshoworganisator</td>
			<td>—</td>
			<td>Kleding</td>
			<td>Modeshow</td>
		</tr>
		<tr>
			<td>Onderhoudsmedewerker</td>
			<td>Grondstoffen</td>
			<td>Procedures</td>
			<td>Infrastructuur</td>
		</tr>
		<tr>
			<td>Mijnwerker</td>
			<td>Natuurlijke hulpbronnen</td>
			<td>Energie</td>
			<td>Grondstoffen</td>
		</tr>
		<tr>
			<td>Recycler</td>
			<td>Vuilnis</td>
			<td>Energie</td>
			<td>Grondstoffen</td>
		</tr>
		<tr>
			<td>Vuilnisophaler</td>
			<td>Zwerfvuil</td>
			<td>Machines</td>
			<td>Vuilnis</td>
		</tr>
		<tr>
			<td>Gereedschapsfabrikant</td>
			<td>Grondstoffen</td>
			<td>Energie</td>
			<td>Gereedschap</td>
		</tr>
		<tr>
			<td>Machinebouwer</td>
			<td>Grondstoffen</td>
			<td>Gereedschap</td>
			<td>Machines</td>
		</tr>
		<tr>
			<td>Procesoperator</td>
			<td>Grondstoffen</td>
			<td>Machines</td>
			<td>Halffabricaten</td>
		</tr>
		<tr>
			<td>Instrumentmaker</td>
			<td>Halffabricaten</td>
			<td>Procedures</td>
			<td>Muziekinstrumenten</td>
		</tr>
		<tr>
			<td>Elektronicaproducent</td>
			<td>Halffabricaten</td>
			<td>Procedures</td>
			<td>Elektronica</td>
		</tr>
		<tr>
			<td>Kledingproducent</td>
			<td>Halffabricaten</td>
			<td>Procedures</td>
			<td>Kleding</td>
		</tr>
	</tbody>
</table>
<br>
<p>Het doel van het spel is om een minimum aantal gelukspunten te scoren doorheen het leven van jouw personage. Gelukspunten win je door de job te doen die je graag doet en door te genieten van goederen en diensten (muziek, games of mode). Je kan competitief spelen en zoveel mogelijk gelukspunten proberen te verzamelen, of jezelf laten meeslepen door de dynamiek van het spel.</p>
<p>Er zijn drie werelden die elk volgens een ander geldsysteem werken. In "Zo zuiver als goud" is de totale geldhoeveelheid constant. In "Belofte maakt schuld" wordt geld gecreëert door leningen, maar de rentevoet varieert volgens hoe de prijzen evolueren. In "De tijd brengt raad" wordt het maximale negatieve of positieve saldo van ieder personage dagelijks verhoogd, maar de som van alle saldo's blijft nul.</p>
<p>Links:</p>
<ul>
<li><a target="_blank" href="https://www.rabobank.nl/kennis/d011184379-hoe-werkt-geldschepping">https://www.rabobank.nl/kennis/d011184379-hoe-werkt-geldschepping</a></li>
<li><a target="_blank" href="https://www.bankofengland.co.uk/-/media/boe/files/quarterly-bulletin/2014/money-creation-in-the-modern-economy">https://www.bankofengland.co.uk/-/media/boe/files/quarterly-bulletin/2014/money-creation-in-the-modern-economy</a></li>
<li><a target="_blank" href="https://www.bundesbank.de/resource/blob/654284/df66c4444d065a7f519e2ab0c476df58/m/2017-04-money-creation-process-data.pdf">https://www.bundesbank.de/resource/blob/654284/df66c4444d065a7f519e2ab0c476df58/m/2017-04-money-creation-process-data.pdf</a></li>
</ul>