{{#block "title"}}Voorwoord{{/block}}

<h1>Voorwoord</h1>

<h2>Is dit nu later?</h2>

<p>"Wat wil je later worden?" is een vraag die je als kind voorgeschoteld krijgt. Je droomt dat je een job zal uitoefenen die je op het lijf geschreven is. Dat je een rol te spelen hebt. Flink je best doen op school is de weg naar het realiseren van die droom.</p>

<p>Gaandeweg wordt het advies bijgesteld tot "studeer maar iets waarmee je zeker werk vindt en voldoende geld verdient". Voor die job waarvan je droomt, komt er misschien geen vacature, en van te werken word je trouwens niet gelukkig. Werken doe je om geld te verdienen, waarmee je geluk koopt. Als dat niet met zoveel woorden wordt gezegd, dan leid je het wel af uit het geklaag van de grote mensen over hun werk en uit de bedelaars aan de supermarkt en het station.</p>

<p>Wanneer je eindelijk aan het werken bent, blijkt dat er geld tekort is. Met dat argument worden alle andere argumenten van tafel geveegd. De vraag is er, de middelen zijn er, de mensen zijn er... maar het geld ontbreekt. Terwijl je toekijkt hoe die denkbeeldige grootheid de doorslag geeft, bekruipt je het gevoel dat je gek aan het worden bent. Toch ga je akkoord, want je gaat natuurlijk niet gratis werken. Je probeert het voor jezelf goed te praten met de gedachte dat geld de gerechtvaardigde vraag weerspiegelt.</p>

<p>Dan komt de dag dat je een hypotheeklening aanvraagt. Je bent verontwaardigd omdat je een boete krijgt voor louter het risico dat je de lening niet zal terugbetalen. Een boete die bijna de helft is van het geleende bedrag. Je ziet geen andere uitweg, dus je gaat akkoord met de laagste boete die je wordt aangeboden. Ergens begrijp je ook wel dat rente de huurprijs is voor geld, totdat je verneemt dat het geleende geld pas wordt gecreëerd op het moment dat je erachter vraagt. Geldschepping door wederzijdse schuldaanvaarding heet dat. Je mentale gezondheid brokkelt verder af terwijl je analyseert wat er moet gebeuren om een lening überhaupt te kunnen afbetalen: de spaarders moeten het gecreëerde geld snel genoeg uitgeven zodat je het maandelijkse kapitaal kunt aflossen, en de bank moet de geïnde rente telkens uitgeven zodat je de rente van de volgende maand kunt betalen. Het alternatief is meer leningen, maar dat is slechts uitstel en maakt het probleem groter.</p>

<p>Je bekijkt de wereld voortaan door een andere bril. Maakt sparen, zoals het een goede huisvader betaamt, het voor anderen onmogelijk om hun lening af te betalen? Word je zo mee verantwoordelijk voor de onveiligheid, de besparingen en de belastingen? Waartoe zal dit leiden? Eigenlijk geloof je het allemaal niet. Er moet een fout zitten in je analyse, maar iedereen verandert meteen van onderwerp wanneer je erover begint. Dus al snel zwijg je. Je probeert die gedachten van je af te schudden en verder te doen alsof er niets aan de hand is, maar dat wordt steeds moeilijker naarmate het aantal burn-outs en carrièrewendingen rondom jou oploopt. Het kind in jezelf laat zich niet afschepen.</p>

<p>Moet je het systeem dan proberen te veranderen? De makers van Bitcoin zijn waarschijnlijk ontgoocheld over het effect van hun poging. De overtuigde communisten vast nog meer. En geen enkel systeem kan ooit een antwoord bieden op onverzoenbare dromen. Dus je besluit om te doen wat je kan en wat past binnen de rol die je wou spelen.</p>

<h2>Persoonlijk</h2>

<p>Het voorgaande zijn geen feiten, maar wel een gevoel dat ik probeer scherp te stellen. Als kind wou ik weerman worden. Ik werd boos als mijn ouders of mijn broer 's avonds na het nieuws en voor het uitgebreide weerbericht de TV afzetten of van post veranderden. "Maar je weet toch al welk weer het morgen wordt?" "Daar gaat het niet om!" Waar het wel om ging, kon ik toen niet verwoorden. Het was gewoon betoverend en geruststellend dat je door uit te zoomen naar de kaart van Europa en een bepaalde redenering te volgen, kon voorspellen welk weer er op ons af ging komen. Ik liet de droom om weerman te worden echter al snel varen, omdat ik niet op het grote scherm wou komen. Door een geluk bij een ongeluk heb ik wel gedurende enkele jaren simulatiesoftware kunnen schrijven. Daaruit rolden geen isobaren en neerslagzones, maar wel concentraties en stroomverdelingen.</p>

<p>Ik heb als tiener heel vaak <a href="https://en.wikipedia.org/wiki/SimCity" referrerpolicy="no-referrer" target="_blank">Sim City</a>, <a href="https://en.wikipedia.org/wiki/The_Settlers" referrerpolicy="no-referrer" target="_blank">The Settlers</a> en <a href="https://en.wikipedia.org/wiki/Utopia:_The_Creation_of_a_Nation" referrerpolicy="no-referrer" target="_blank">Utopia: the creation of a nation</a> gespeeld. Met deze website wil ik nu zelf proberen om de economie te simuleren, om na te gaan of de spelregels rond geldschepping een invloed kunnen hebben op ons vermogen om een vervuld leven te leiden. Een werk van lange adem 😉.</p>

<h2>Broncode</h2>

<p>Mijn geknoei vind je op <a target="_blank" href="https://github.com/Trods-to-the-Dreaming/hetsysteem">github</a>.</p>

<h2>Over geldschepping</h2>

<ul>
<li><a target="_blank" href="https://www.rabobank.nl/kennis/d011184379-hoe-werkt-geldschepping">Rabobank</a></li>
<li><a target="_blank" href="https://www.bankofengland.co.uk/-/media/boe/files/quarterly-bulletin/2014/money-creation-in-the-modern-economy">Bank of England</a></li>
<li><a target="_blank" href="https://www.bundesbank.de/resource/blob/654284/df66c4444d065a7f519e2ab0c476df58/m/2017-04-money-creation-process-data.pdf">Deutsche Bundesbank</a></li>
</ul-->