<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="javascript:void(0)">Het Systeem</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="mynavbar">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="javascript:void(0)">Spelregels</a>
				</li>
			</ul>
			<a href="/login" class="btn btn-primary">Log in</a>
		</div>
	</div>
</nav>

<div class="container-fluid mt-3">
	<h3>Navbar Forms</h3>
	<p>You can also include forms inside the navigation bar.</p>
</div>