<nav class="navbar navbar-dark bg-dark">
	<div class="container-fluid">

		<a class="navbar-brand p-0" href="/">
			<img src="/img/favicon.png" width="36" height="36">
		</a>

		<div class="ms-auto">
			{{#if authenticated}}
				<div class="dropdown">
					<a id="accountDropdown"	class="nav-link" href="#" role="button" data-bs-toggle="dropdown">
						<i class="bi bi-person-circle navbar-account-icon"></i>
					</a>

					<ul class="dropdown-menu dropdown-menu-end">
						<li><a class="dropdown-item" href="/game/enter-world">Spelen</a></li>
						<li><a class="dropdown-item" href="/account">Mijn account</a></li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<form method="POST" action="/account/logout">
								<button class="dropdown-item" type="submit">
									Afmelden
								</button>
							</form>
						</li>
					</ul>
				</div>
			{{else}}
				<a class="btn btn-outline-light" href="/account/login">
					Aanmelden
				</a>
			{{/if}}
		</div>

	</div>
</nav>