{{#block "title"}}Acties{{/block}}

<div class="container-compact">
	<h1>Acties</h1>

	<a class="button-1" href="/game/actions/survive">Overleven</a>
	<a class="button-1" href="/game/actions/trade">Handel drijven</a>
	<a class="button-1" href="/game/actions/spend-time">Tijd besteden</a>
	<a class="button-1" href="/game/actions/apply">Solliciteren</a>
	<a class="button-1" href="/game/actions/resign">Ontslag nemen</a>
	<a class="button-1" href="/game/actions/recruit">Aanwerven</a>
	<a class="button-1" href="/game/actions/fire">Ontslaan</a>
	
	<a class="button-back" href="/game">â† Spelmenu</a>
</div>