{{#block "title"}}Personage aanpassen{{/block}}

{{#block "headScripts"}}
<script type="module">
	import { turn } from '/js/turn-logic.js';
	turn.page.index = 0;
	turn.page.checkAccess();
</script>
{{/block}}

<div id="container-div" class="container-compact d-none">
	<h1>Personage aanpassen</h1>

	<div class="field">
		<label for="first-name-input" class="form-label">Voornaam:</label>
		<input id="first-name-input" class="form-control" type="text" required>
	</div>
	
	<div class="field">
		<label for="last-name-input" class="form-label">Achternaam:</label>
		<input id="last-name-input" class="form-control" type="text" required>
	</div>
	
	<input id="name-input" class="d-none" value="dummytext" required>
	<p id="name-error" class="error"></p>
	
	<div class="field">
		<label for="job-preference-1-select" class="form-label">Jobvoorkeur (★★★):</label>
		<select id="job-preference-1-select" class="form-select" required></select>
	</div>
	
	<div class="field">
		<label for="job-preference-2-select" class="form-label">Jobvoorkeur (★★):</label>
		<select id="job-preference-2-select" class="form-select" required></select>
	</div>
	
	<div class="field">
		<label for="job-preference-3-select" class="form-label">Jobvoorkeur (★):</label>
		<select id="job-preference-3-select" class="form-select" required></select>
	</div>
	
	<div class="field">
		<label for="recreation-preference-select" class="form-label">Ontspanningsvoorkeur (★★★):</label>
		<select id="recreation-preference-select" class="form-select" required></select>
	</div>
	
	<hr>
</div>

<script type="module">
import { validateName } from '/js/character-name-validation.js';
import { turn } from '/js/turn-logic.js';

//--- Initialize elements -----------------------------------------------------------------------//
turn.page.initializeElements = function() {
	const buildings = JSON.parse(localStorage.getItem(`turn.buildings`));
	const recreations = JSON.parse(localStorage.getItem(`turn.recreations`));
	
	if (!turn.page.action) {
		turn.page.action = {
			firstName: '',
			lastName: '',
			jobPreference1: '',
			jobPreference2: '',	
			jobPreference3: '',
			recreationPreference: ''
		};
	}
	
	turn.page.elements = {
		firstName: document.getElementById('first-name-input'),
		lastName: document.getElementById('last-name-input'),
		jobPreference: document.getElementById('job-preference-1-select'),
		jobPreference: document.getElementById('job-preference-2-select'),
		jobPreference: document.getElementById('job-preference-3-select'),
		recreationPreference: document.getElementById('recreation-preference-select'),
		nameError: document.getElementById('name-error')
	};
	
	const action = turn.page.action;
	const elements = turn.page.elements;
	
	turn.page.populateSelect(elements.jobPreference1, buildings, 'job');
	turn.page.populateSelect(elements.jobPreference2, buildings, 'job');
	turn.page.populateSelect(elements.jobPreference3, buildings, 'job');
	turn.page.populateSelect(elements.recreationPreference, recreations, 'type');
	
	elements.firstName.value = action.firstName;
	elements.lastName.value = action.lastName;
	elements.jobPreference1.value = action.jobPreference1;
	elements.jobPreference2.value = action.jobPreference2;	
	elements.jobPreference3.value = action.jobPreference3;
	elements.recreationPreference.value = action.recreationPreference;
	
	elements.firstName.addEventListener('input', handleFirstNameInput);
	elements.lastName.addEventListener('input', handleLastNameInput);
	elements.jobPreference1.addEventListener('change', handleJobPreferenceChange);
	elements.jobPreference2.addEventListener('change', handleJobPreferenceChange);
	elements.jobPreference3.addEventListener('change', handleJobPreferenceChange);
	elements.recreationPreference.addEventListener('change', handleRecreationPreferenceChange);
	
	handleFirstNameInput();
	handleLastNameInput();
	handleJobPreferenceChange();
	handleRecreationPreferenceChange();
};

//--- Read elements -----------------------------------------------------------------------------//
turn.page.readElements = function() {
	const action = turn.page.action;
	const elements = turn.page.elements;
	
	action.firstName = elements.firstName.value;
	action.lastName = elements.lastName.value;
	action.jobPreference1 = elements.jobPreference1.value;
	action.jobPreference2 = elements.jobPreference2.value;	
	action.jobPreference3 = elements.jobPreference3.value;
	action.recreationPreference = elements.recreationPreference.value;
};

//--- Server check ------------------------------------------------------------------------------//
turn.page.beforeNext = async function() {
	turn.page.elements.nameError.textContent = '';
	const firstName = turn.page.elements.firstName.value;
	const lastName = turn.page.elements.lastName.value;

	try {
		const params = new URLSearchParams({
			firstName,
			lastName,
		});
		const res = await fetch(`/game/turn/check-character-name?${params}`);
		const { available } = await res.json();

		if (!available) {
			nameError.textContent = 'Deze naam is al in gebruik.';
			return false;
		}
		
		return true;
	} catch (err) {
		consolelements.error(err);
		return false;
	}
};

//--- Event handlers ----------------------------------------------------------------------------//
function handleFirstNameInput() {
	handleNameInput(turn.page.elements.firstName);
}

function handleLastNameInput() {
	handleNameInput(turn.page.elements.lastName);
}

function handleJobPreferenceChange() {
	const selects = [turn.page.elements.jobPreference1, 
					 turn.page.elements.jobPreference2, 
					 turn.page.elements.jobPreference3];
	const selectedValues = selects.map(select => select.value);
	
	selects.forEach((select, index) => {
		const otherSelectedValues = selectedValues.filter((_, i) => i !== index);
		
		Array.from(select.options).forEach(option => {
			option.disabled = otherSelectedValues.includes(option.value);
		});
	});
	
	turn.page.validate();
}

function handleRecreationPreferenceChange() {
	turn.page.validate();
}

//--- Helpers -----------------------------------------------------------------------------------//
function handleNameInput(nameInput) {
	turn.page.elements.nameError.textContent = '';
	
	validateName(nameInput);
	nameInput.reportValidity();
	turn.page.validate();
}

//--- DOM content loaded ------------------------------------------------------------------------//
document.addEventListener('DOMContentLoaded', () => {
	turn.page.initialize();
});
</script>