{{#block "title"}}Gebouwen beheren{{/block}}

{{#block "headScripts"}}
<script type="module">
	import { turn } from '/js/turn-logic.js';
	turn.page.index = 1;
	turn.page.checkAccess();
</script>
{{/block}}

<div id="container-div" class="container-compact d-none">
	<h1>Gebouwen beheren</h1>
	
	<div id="demolish-div">
		<h2>💥 Slopen</h2>
		
		<ul id="owned-buildings-ul" class="list-compact"></ul>
		
		<!--p>(Een lijst met de gebouwen die het personage bezit. Naast elk gebouw een toggle knop "slopen/behouden".)</p-->
		<!--ul id="owned-buildings-ul" class="list-compact">
			<!-- Filled bij JS ->
		</ul-->
	</div>
	
	<div id="build-div">
		<h2>🏗️ Bouwen</h2>
		
		<p>Vrije landtegels: <span id="free-tiles-span">(...)</span></p> <!-- neemt toe als een gebouw wordt gesloopt -->
		
		<p>(Een knop die een offcanvas venster opent. In het venster een dropdownlijst van alle mogelijke gebouwen. Een tekstvak voor de naam en voor de grootte van het geplande gebouw.)</p>
		
		<p>(Een lijst met de geplande gebouwen. Naast elk gebouw een knop "×".)</p>
		
		<!--ul id="construction-sites-ul" class="list-compact">
			<!-- Filled bij JS ->
		</ul>
		
		<!-- hier een lijst van geplande gebouwen en een knop, een lijst van gebouwtypes en een lijst van gebouwgroottes? -->
	</div>
</div>

<script type="module">
import { turn } from '/js/turn-logic.js';

//--- Load and save fields ----------------------------------------------------------------------//
turn.page.loadFields = function() {
	if (!turn.page.data) {
		turn.page.data = {
			demolish: []
		};
	}
	
	turn.page.fields = {
		ownedBuildings: document.getElementById('owned-buildings-ul')
	};

	const characterData = JSON.parse(localStorage.getItem(`turn.characterData`));
	const allBuildings = JSON.parse(localStorage.getItem(`turn.allBuildings`));
	const data = turn.page.data;
	const fields = turn.page.fields;
	
	fields.ownedBuildings.innerHTML = '';
	characterData.buildings.forEach((building) => {
		const li = document.createElement('li');
		li.className = 'list-item-justify';
		li.textContent = building.name;
		
		const input = document.createElement('input');
		input.id = building.id;
		input.className = 'btn-check';
		input.type = 'checkbox';
		
		const label = document.createElement('label');
		label.htmlFor = building.id;
		label.className = 'btn btn-outline-danger btn-sm';
		
		const i = document.createElement('i');
		i.className = 'bi bi-x-lg';
		i.style.cursor = 'pointer';
		
		input.addEventListener('change', () => {
			const checked = input.checked;
			label.innerHTML = checked
			  ? `<i class="bi bi-arrow-counterclockwise"></i>`
			  : `<i class="bi bi-x-lg"></i>`;
			label.style.textDecoration = checked ? 'line-through' : 'none';
		});
		
		label.appendChild(i);
		li.appendChild(input);
		li.appendChild(label);
		fields.ownedBuildings.appendChild(li);
	});
}

		/*const div = document.createElement('div');
		div.className = 'form-check';
		
		const input = document.createElement('input');
		input.id = building.id;
		input.className = 'form-check-input';
		input.type = 'checkbox';
		
		const label = document.createElement('label');
		label.htmlFor = building.id;
		label.className = 'form-check-label';
		label.textContent = building.name;
		
		div.appendChild(input);
		div.appendChild(label);
		fields.ownedBuildings.appendChild(div);*/

turn.page.saveFields = function() {
}

//--- DOM content loaded ------------------------------------------------------------------------//
document.addEventListener('DOMContentLoaded', () => {
	turn.page.initialize();
});

/*function initUI() {
	const ownedBuildingsUl = document.getElementById('owned-buildings-ul');
	ownedBuildings.forEach((building) => {
		const li = document.createElement('li');
		li.className = '.list-item-justify';

		const span = document.createElement('span');
		span.textContent = building.name;
		
		const button = document.createElement('button');
		button.addEventListener('click', () => toggleDemolish(building, span, button));
		
		if (building.isDemolished) {
			span.classList.add('demolished');
			button.textContent = 'Behouden';
		} else {
			span.classList.remove('demolished');
			button.textContent = 'Slopen';
		}
		
		li.appendChild(span);
		li.appendChild(button);
		ownedBuildingsUl.appendChild(li);
	});
	
	const freeTilesSpan = document.getElementById('free-tiles-span');
	freeTilesSpan.textContent = nFreeTiles;
	
	const constructionSitesUl = document.getElementById('construction-sites-ul');
	constructionSites.forEach((site) => {
		const li = document.createElement('li');
		li.className = '.list-item-justify';

		const span = document.createElement('span');
		span.textContent = site.name;
		
		const button = document.createElement('button');
		button.addEventListener('click', () => clickCancelConstruction(site, li));
		
		li.appendChild(span);
		li.appendChild(button);
		constructionSitesUl.appendChild(li);
	});
	
	validate();
}

function toggleDemolish(building, span, button) {
	building.isDemolished = !building.isDemolished;

	if (building.isDemolished) {
		span.classList.add('demolished');
		button.textContent = 'Behouden';
		nFreeTiles += building.size * building.tile_size;
	} else {
		span.classList.remove('demolished');
		button.textContent = 'Slopen';
		nFreeTiles -= building.size * building.tile_size;
	}

	validate();
}

function clickCancelConstruction(site, li) {
	li.remove();
	nFreeTiles += site.size * site.tile_size;
	
	validate();
}

// some function for constructing a new building?

function validate() {
	const nextButton = document.getElementById('next-button');
	nextButton.disabled = nFreeTiles < 0 ? true : false;
}

function clickNext() {
	// window.location.href = ...;
}*/
</script>