{{#block "title"}}Gebouwen beheren{{/block}}

{{#block "headScripts"}}
<script type="module">
	import { turn } from '/js/turn-logic.js';
	turn.page.index = 1;
	turn.page.checkAccess();
</script>
{{/block}}

<div id="container-div" class="container-compact d-none">
	<h1>Gebouwen beheren</h1>
	
	<div id="demolish-div" class="field">
		<h2>💥 Slopen</h2>
		
		<button id="open-demolish-window-button" class="button-2" type="button" 
				data-bs-toggle="offcanvas" data-bs-target="#demolish-window">
			Bestaand gebouw slopen
		</button>
		
		<ul id="demolish-ul" class="list-compact d-none"></ul>
	</div>
	
	<div id="build-div" class="field">
		<h2>🏗️ Bouwen</h2>

		<p>Vrije landtegels: <span id="free-tiles-span"></span></p>
		
		<button id="open-construct-window-button" class="button-2" type="button" 
				data-bs-toggle="offcanvas" data-bs-target="#construct-window">
			Nieuwbouw plaatsen
		</button>
		
		<ul id="construct-ul" class="list-compact d-none"></ul>
	</div>
	
	<hr>
</div>

<div id="demolish-window" class="offcanvas offcanvas-start" data-bs-backdrop="true" data-bs-scroll="false" tabindex="-1">
	<div class="offcanvas-header">
		<h2>💥 Slopen</h2>
		
		<button class="btn-close" type="button" data-bs-dismiss="offcanvas" aria-label="Sluiten"></button>
	</div>
	
	<div class="offcanvas-body">
		<p>Vink de te slopen gebouwen aan:</p>
		
		<div id="existing-buildings-div" class="field"></div>
		
		<div class="container-compact">
			<button id="confirm-demolish-button" class="button-2" type="button">Bevestigen</button>
		</div>
	</div>
</div>

<div id="construct-window" class="offcanvas offcanvas-start" data-bs-backdrop="true" data-bs-scroll="false" tabindex="-1">
	<div class="offcanvas-header">
		<h2>🏗️ Bouwen</h2>
		
		<button class="btn-close" type="button" data-bs-dismiss="offcanvas" aria-label="Sluiten"></button>
	</div>
	
	<div class="offcanvas-body">
		<div class="field">
			<label for="new-building-select" class="form-label">Kies een gebouw:</label>
			<select id="new-building-select" class="form-select" required></select>
		</div>
		
		<div class="field">
			<label for="size-factor-select" class="form-label">Kies een grootte:</label>
			<select id="size-factor-select" class="form-select" required></select>
		</div>
		
		<div class="field">
			<label for="building-name-input" class="form-label">Naam van het nieuwe gebouw:</label>
			<input id="building-name-input" class="form-control" type="text" required>
		</div>
		
		<p id="name-error" class="error"></p>
		
		<div class="container-compact">
			<button id="confirm-construct-button" class="button-2" type="button">Bevestigen</button>
		</div>
	</div>
</div>

<script type="module">
import { validateName } from '/js/building-name-validation.js';
import { turn } from '/js/turn-logic.js';

//--- Initialize elements -----------------------------------------------------------------------//
turn.page.initializeElements = function() {
	const characterState = JSON.parse(localStorage.getItem(`turn.characterState`));
	const buildings = JSON.parse(localStorage.getItem(`turn.buildings`));
	const sizeFactors = JSON.parse(localStorage.getItem(`turn.sizeFactors`));
	
	if (!turn.page.action) {
		turn.page.action = {
			demolish: [],
			construct: []
		};
	}
	const action = turn.page.action;
	
	turn.page.elements = {
		demolish: document.getElementById('demolish-ul'),
		construct: document.getElementById('construct-ul'),
		openDemolishWindow: document.getElementById('open-demolish-window-button'),
		openConstructWindow: document.getElementById('open-construct-window-button'),
		demolishWindow: document.getElementById('demolish-window'),
		constructWindow: document.getElementById('construct-window'),
		demolishOffcanvas: new bootstrap.Offcanvas(
			document.getElementById('demolish-window')
		),
		constructOffcanvas: new bootstrap.Offcanvas(
			document.getElementById('construct-window')
		),
		confirmDemolish: document.getElementById('confirm-demolish-button'),
		confirmConstruct: document.getElementById('confirm-construct-button'),
		freeTiles: document.getElementById('free-tiles-span'),
		existingBuildings: document.getElementById('existing-buildings-div'),
		newBuilding: document.getElementById('new-building-select'),
		sizeFactor: document.getElementById('size-factor-select'),
		buildingName: document.getElementById('building-name-input'),
		nameError: document.getElementById('name-error')
	};
	const elements = turn.page.elements;	
	
	let freeTiles = characterState.ownedTiles;
	
	const existingBuildings = characterState.ownedBuildings.map(eb => {
		const building = buildings.find(b => b.id === eb.buildingId);
		const isDemolished = action.demolish.includes(eb.buildingId);
		const size = building.baseSize * eb.sizeFactor;
		const unit = size === 1 ? 'tegel' : 'tegels';
		
		freeTiles -= isDemolished ? 0 : size;

		return {
			id: eb.buildingId,
			isDemolished,
			size,
			label: `${eb.name} <small>(${building.type} ${size} ${unit})</small>`
		};
	});
	
	const newBuildings = action.construct.map(nb => {
		const building = buildings.find(b => b.id === nb.buildingId);
		const size = building.baseSize * nb.sizeFactor;
		const unit = size === 1 ? 'tegel' : 'tegels';
		
		freeTiles -= size;
		
		return {
			id: nb.buildingId,
			name: nb.name,
			sizeFactor: nb.sizeFactor,
			size,
			label: `${nb.name} <small>(${building.type} ${size} ${unit})</small>`
		};
	});
	
	turn.page.data = {
		freeTiles,
		existingBuildings,
		newBuildings,
		buildings,
		sizeFactors
	};
	const data = turn.page.data;
	
	elements.constructWindow.addEventListener('show.bs.offcanvas', handleConstructWindowShow);
	elements.newBuilding.addEventListener('change', handleNewBuildingChange);
	elements.buildingName.addEventListener('input', handleBuildingNameInput);
	elements.confirmDemolish.addEventListener('click', handleConfirmDemolish);
	elements.confirmConstruct.addEventListener('click', handleConfirmConstruct);
	
	updateConstructWindow();
	updateUI();
}

//--- Read elements -----------------------------------------------------------------------------//
turn.page.readElements = function() {
	const action = turn.page.action;
	const elements = turn.page.elements;
	
	//action.demolish = Array.from(elements.demolish.querySelectorAll('li'))
	//	.map(li => Number(li.dataset.buildingId));

	
}

//--- Server check ------------------------------------------------------------------------------//
turn.page.beforeNext = async function() {
	/*const nameError = document.getElementById('name-error');
	nameError.textContent = '';
	
	const elements = turn.page.elements;
	const firstName = elements.firstName.value;
	const lastName = elements.lastName.value;

	try {
		const params = new URLSearchParams({
			firstName,
			lastName,
		});
		const res = await fetch(`/game/turn/check-character-name?${params}`);
		const { available } = await res.json();

		if (!available) {
			nameError.textContent = 'Deze naam is al in gebruik.';
			return false;
		}
		
		return true;
	} catch (err) {
		console.error(err);
		return false;
	}*/
};

//--- Event handlers ----------------------------------------------------------------------------//
function handleConstructWindowShow() {
	const elements = turn.page.elements;
	const data = turn.page.data;
	
	elements.newBuilding.innerHTML = '';
	
	const emptyOption = document.createElement('option');
	emptyOption.value = '';
	emptyOption.disabled = true;
	emptyOption.selected = true;
	emptyOption.hidden = true;
	elements.newBuilding.appendChild(emptyOption);

	data.buildings.forEach(b => {
		const option = document.createElement('option');
		option.value = b.id;
		option.textContent = b.type;
		option.disabled = (b.baseSize > data.freeTiles);
		elements.newBuilding.appendChild(option);
		console.log(b.type, b.baseSize, typeof b.baseSize, data.freeTiles, typeof data.freeTiles);
	});
	
	elements.newBuilding.value = '';
	elements.sizeFactor.innerHTML = '';
	elements.buildingName.value = '';
	
	updateConstructWindow();
}
	
function handleNewBuildingChange() {
	const elements = turn.page.elements;
	const data = turn.page.data;
	
	const newBuildingId = Number(elements.newBuilding.value);
	const newBuilding = data.buildings.find(b => b.id === newBuildingId);
	
	elements.sizeFactor.innerHTML = '';
	data.sizeFactors.forEach(sizeFactor => {
		const size = newBuilding.baseSize * sizeFactor;
		
		const option = document.createElement('option');
		option.value = sizeFactor;
		option.textContent = size + (size === 1 ? ' tegel' : ' tegels');
		option.disabled = (size > data.freeTiles);
		elements.sizeFactor.appendChild(option);
	});
	
	updateConstructWindow();
}

function handleBuildingNameInput() {
	const elements = turn.page.elements;
	
	elements.nameError.textContent = '';
	
	validateName(elements.buildingName);
	elements.buildingName.reportValidity();
	
	updateConstructWindow();
}

function handleConfirmDemolish() {
	const elements = turn.page.elements;
	const data = turn.page.data;

	const checkboxes = elements.existingBuildings.querySelectorAll('input[type="checkbox"]');

	checkboxes.forEach(checkbox => {
		if (checkbox.checked) {
			const buildingId = Number(checkbox.dataset.buildingId);
			const building = data.existingBuildings.find(b => b.id === buildingId);
			building.isDemolished = checkbox.checked;

			data.freeTiles += building.size;
		}
	});
	
	updateUI();
	elements.demolishOffcanvas.hide();
}

function handleConfirmConstruct() {
	const elements = turn.page.elements;
	const data = turn.page.data;
	
	const newBuildingId = Number(elements.newBuilding.value);
	const newBuilding = data.buildings.find(b => b.id === newBuildingId);
	const name = elements.buildingName.value;
	const sizeFactor = Number(elements.sizeFactor.value);
	const size = newBuilding.baseSize * sizeFactor;
	const unit = size === 1 ? 'tegel' : 'tegels';
	
	data.newBuildings.push({
		id: newBuildingId,
		name,
		sizeFactor,
		size,
		label: `${name} <small>(${newBuilding.type} ${size} ${unit})</small>`
	});
	
	data.freeTiles -= size;
	
	updateUI();
	elements.constructOffcanvas.hide();
}

//--- Helpers -----------------------------------------------------------------------------------//
function updateConstructWindow() {
	const elements = turn.page.elements;
	
	if (elements.newBuilding.value === '' ||
		elements.buildingName.value === '' ||
		!elements.buildingName.checkValidity()) {
		elements.confirmConstruct.disabled = true;
	} else {
		elements.confirmConstruct.disabled = false;
	}
}

function updateUI() {
	const elements = turn.page.elements;
	const data = turn.page.data;
	
	renderDemolishList();
	renderConstructList();
	renderFreeTiles();
	
	turn.page.validate();
}

function renderDemolishList() {
	const elements = turn.page.elements;
	const data = turn.page.data;
	
	elements.demolish.innerHTML = '';
	elements.existingBuildings.innerHTML = '';
	
	data.existingBuildings.forEach(eb => {
		if (eb.isDemolished) {
			// Add to demolish list
			const li = document.createElement('li');
			li.className = 'list-item-justify';
			li.dataset.buildingId = eb.id;
			
			const span = document.createElement('span');
			span.innerHTML = eb.label;
			
			const button = document.createElement('button');
			button.type = 'button';
			button.classList.add('btn');
			button.innerHTML = `<i class="bi bi-x-lg"></i>`;
			
			if (eb.size > data.freeTiles) {
				button.disabled = true;
			} else {
				button.addEventListener('click', () => {
					eb.isDemolished = false;
					data.freeTiles -= eb.size;
					updateUI();
				});
			}
			
			li.appendChild(span);
			li.appendChild(button);
			elements.demolish.appendChild(li);
		} else {
			// Add to existing buildings list
			const div = document.createElement('div');
			div.className = 'form-check';
			
			const input = document.createElement('input');
			input.id = 'demolish_' + eb.id;
			input.className = 'form-check-input';
			input.type = 'checkbox';
			input.dataset.buildingId = eb.id;
			
			const label = document.createElement('label');
			label.htmlFor = input.id;
			label.className = 'form-check-label';
			label.innerHTML = eb.label;
			
			div.appendChild(input);
			div.appendChild(label);
			elements.existingBuildings.appendChild(div);
		}
	});
	
	if (elements.demolish.children.length === 0) {
		elements.demolish.classList.add('d-none');
	} else {
		elements.demolish.classList.remove('d-none');
	}
}

function renderConstructList() {
	const elements = turn.page.elements;
	const data = turn.page.data;
	
	elements.construct.innerHTML = '';
	
	data.newBuildings.forEach((nb, index) => {
		// Add to construct list
		const li = document.createElement('li');
		li.className = 'list-item-justify';
		li.dataset.buildingId = 'nb_' + index; // temporary id
		
		const span = document.createElement('span');
		span.innerHTML = nb.label;
		
		const button = document.createElement('button');
		button.type = 'button';
		button.classList.add('btn');
		button.innerHTML = `<i class="bi bi-x-lg"></i>`;
		
		button.addEventListener('click', () => {
			data.newBuildings.splice(index, 1);
			data.freeTiles += nb.size;
			updateUI();
		});
		
		li.appendChild(span);
		li.appendChild(button);
		elements.construct.appendChild(li);
	});
	
	if (elements.construct.children.length === 0) {
		elements.construct.classList.add('d-none');
	} else {
		elements.construct.classList.remove('d-none');
	}
	
	if (data.freeTiles === 0) {
		elements.openConstructWindow.disabled = true;
	} else {
		elements.openConstructWindow.disabled = false;
	}	
}

function renderFreeTiles() {
	const elements = turn.page.elements;
	const data = turn.page.data;
	
	elements.freeTiles.textContent = data.freeTiles;
}

//--- DOM content loaded ------------------------------------------------------------------------//
document.addEventListener('DOMContentLoaded', () => {
	turn.page.initialize();
});
</script>