{{#block "title"}}Delen{{/block}}

{{#block "headScripts"}}
<script src="/js/turn.js"></script>
<script>
	window.step.index = 6;
	window.step.checkAccess();
</script>
{{/block}}

<div id="container-div" class="container-compact d-none">
	<h1>Delen</h1>
	

</div>

<script>
//--- Load and save fields ----------------------------------------------------------------------//
window.step.loadFields = function() {
}

window.step.saveFields = function() {
}

//--- DOM content loaded ------------------------------------------------------------------------//
document.addEventListener('DOMContentLoaded', () => {
	window.step.initialize();
});
</script>