{{#block "title"}}Delen{{/block}}

{{#block "headScripts"}}
<script type="module">
	import { turn } from '/js/turn-logic.js';
	turn.page.index = 6;
	turn.page.checkAccess();
</script>
{{/block}}

<div id="container-div" class="container-compact d-none">
	<h1>Delen</h1>
	

</div>

<script type="module">
import { turn } from '/js/turn-logic.js';

//--- Load and save fields ----------------------------------------------------------------------//
turn.page.loadFields = function() {
}

turn.page.saveFields = function() {
}

//--- DOM content loaded ------------------------------------------------------------------------//
document.addEventListener('DOMContentLoaded', () => {
	turn.page.initialize();
});
</script>