{{#block "title"}}Delen{{/block}}

{{#block "headScripts"}}
<script src="/js/turn.js"></script>
<script>
	window.turn.thisStep = 6;
	window.turn.ensureValidStep();
</script>
{{/block}}

<div id="container-div" class="container-compact d-none">
	<h1>Delen</h1>
	

</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
	window.turn.insertUI();
	window.turn.bindUIEvents();
});

window.addEventListener('pageshow', (event) => {
	window.turn.ensureValidStep();
	window.turn.setupUI();
});
</script>