{{#block "title"}}Delen{{/block}}

{{#block "headScripts"}}
<script src="/js/turn.js"></script>
<script>
	window.turn.thisStep = 6;
	window.turn.ensureValidStep();
</script>
{{/block}}

<div id="container-div" class="container-compact d-none">
	<h1>Delen</h1>
	
	<button id="next-button" class="button-1" type="button">Volgende →</button>
	<button id="back-button" class="button-1" type="button">← Vorige</button>
	<button id="edit-button" class="button-1" type="button">Bewerken</button>
	<button id="finish-button" class="button-1" type="button">Voltooien</button>
	
	<button id="cancel-button" class="button-up" type="button">↑ Annuleren</button>
</div>

<script>
window.addEventListener('pageshow', (event) => {
	window.turn.ensureValidStep();
	window.turn.setupUI();
});

document.addEventListener('DOMContentLoaded', () => {
	window.turn.insertEditModal();
	window.turn.bindUIEvents();
});
</script>