{{#block "title"}}Het Systeem - Aanmelden{{/block}}

<form class="box" method="POST" action="/auth/login">
	<h3>Aanmelden</h3>
	<div>
		<label for="username" class="form-label">Gebruikersnaam:</label>
		<input type="text" class="form-control" id="username" name="username" value="{{username}}" required>
	</div>
	<div>
		<label for="password" class="form-label">Wachtwoord:</label>
		<input type="password" class="form-control" id="password" name="password" required>
	</div>
	{{#if errorLogin}}
	<p class="error">{{errorLogin}}</p>
	{{/if}}
	<div class="d-grid">
		<button type="submit" class="button-1">Aanmelden</button>
	</div>
	<p class="no-distance">Nog geen lid? <a href="/auth/register">Registreren</a>.</p>
</form>