{{#block "title"}}Het Systeem - Registreren{{/block}}

<h1>Registreren</h1>
<div class="mw-container">
	<form id="auth-register-form" method="POST" action="/auth/register">
		<div class="field">
			<label for="username" class="form-label">Gebruikersnaam:</label>
			<input type="text" class="form-control" id="username" name="username" value="{{username}}" required>
		</div>
		<p class="error" id="error-username">{{errorUsername}}</p>
		<div class="field">
			<label for="password" class="form-label">Wachtwoord:</label>
			<input type="password" class="form-control" id="password" name="password" required>
		</div>
		<div class="field">
			<label for="password-confirm" class="form-label">Bevestig wachtwoord:</label>
			<input type="password" class="form-control" id="password-confirm" name="passwordConfirm" required>
		</div>
		<p class="error" id="error-confirm">{{errorConfirm}}</p>
		<button type="submit" class="button-1">Registreren</button>
	</form>
	<p>Reeds lid? <a href="/auth/login">Aanmelden</a>.</p>
</div>

<script>
document.getElementById("auth-register-form").addEventListener("submit", function (e) {
	const password = document.getElementById("password");
	const passwordConfirm = document.getElementById("password-confirm");
	if (password.value !== passwordConfirm.value) {
		document.getElementById("error-confirm").textContent = "De wachtwoorden komen niet overeen.";
		e.preventDefault();
	} else {
		document.getElementById("error-confirm").textContent = "";
	}
});
</script>